:root{
    /* colors */
    --blue-100 : rgba(24,7,251,1);
    --blue-80 : rgba(24,7,251,0.8);
    --blue-50 : rgba(24,7,251,0.5);
    --blue-20 : rgba(24,7,251,0.2);
    --blue-10 : rgba(24,7,251,0.1);
    --blue-5 : rgba(24,7,251,0.05);
    --dark-blue-100 : rgba(2,13,43,1);
    --dark-blue-80 : rgba(2,13,43,0.8);
    --dark-blue-50 : rgba(2,13,43,0.5);
    --dark-blue-20 : rgba(2,13,43,0.2);
    --dark-blue-10 : rgba(2,13,43,0.1);
    --dark-blue-5 : rgba(2,13,43,0.05);
    --yellow-: #F6C000 ;
    --orange-: #FF9F55 ;

    /* transition */
    --global-transition :  0.4s ease-in-out;
}

@font-face {
    font-family: "Cairo";
    src: url(/assets/font/Cairo-VariableFont_slnt\,wght.ttf);
}

body{
    background-color: var(--blue-5);
    margin: 0;
}
a{
    text-decoration: none;
}


/* desktop navbar */
.desknavbar{
    direction: rtl;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    position: sticky;
}

.elmas-logo{
    width: 120px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px
}

.desknavbar .desknav-items , .desknavbar .socialmedia-icons{
    list-style: none;
    display: flex;
}
.desknav-items li {
    margin: 0 10px;
    color: var(--blue-100);
    font-family: cairo;
    transition: all .1s ease-out;
}
.desknav-items li:hover{
    color: var(--blue-50);
}

.desknav-items a{
    text-decoration: none;
}


.desknavbar .socialmedia-icons li{
    background-color: var(--blue-100);
    color: #ffffff;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin: 0 5px;
    font-family: cairo;
    transition: all .1s ease-out;
    box-shadow: 0 10px 15px -3px var(--blue-10), 0 4px 6px -4px var(--blue-10);
}
.desknavbar .socialmedia-icons li:hover{
    background-color: var(--blue-50);
    box-shadow: none;
}

.desknavbar .socialmedia-icons i {
    display: flex; align-items: center;
}
.checkbox{
    display: none;
}

.mobilenav{
    display: none;
}


/* =====================top hero======================= */
.top-hearo-container{
    display: flex;
    width: 100%;
    height: fit-content;
    direction: rtl;
}

.hero-text-container{
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.hero-text{
    width: 40%;
    height: fit-content;
    margin-left: 80px;
}
.hero-text-container h1{
    font-family: cairo;
    font-size: 120px;
    font-weight: bold;
    color: var(--blue-100);
    margin: 0;
    word-break: break-all;
    text-align: left;
}
.hero-text-container h3{
    display: block;
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 190.9%;
    color: #F6C000;
    margin-top:-18% ;
    text-align: left;
    letter-spacing: 2.5rem;
}
.hero-text-container p{
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    text-align: left;
    color: var(--dark-blue-100);
}

.hero-text-container button{
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    appearance: none;
    border: 0;
    box-shadow: 0px 10px 34px rgba(69, 190, 255, 0.25);
    border-radius: 80px;
    background-color: var(--dark-blue-80);
    color: #ffffff;
    padding: 10px 60px;
    box-shadow: 0 10px 15px -3px var(--dark-blue-20), 0 4px 6px -4px var(--dark-blue-20);
    cursor: pointer;
    transition: var(--global-transition);
}
.hero-text-container button:hover{
    background-color: var(--dark-blue-50);
    box-shadow: none;
}

.hero-canva{
    width: 50%;
}
.hero-canva img{
    width: 500px;
    height: 500px;
}


/* =====================mouse scroll======================= */
.mouse-scroll-container{
    margin: 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mouse-scroll-container .mouse-scroll-icon{
    height: 60px;
    width: 25px;
    border: 2px var(--dark-blue-100) solid;
    border-radius: 20px;
    animation: cursorMove 2s infinite;
    transition: var(--global-transition);
}
.mouse-scroll-container .mouse-scroll-icon div{
    height: 20%;
    width: 2px;
    background-color: var(--dark-blue-100);
    margin: 4px auto;
    border-radius: 2px;
}



/* =====================banener text======================= */
.banner-text-container{
    margin: 40px 0;
    width: 100%;
    height: fit-content;
    background: linear-gradient(250.17deg, #007DC0 36.75%, #6BB3D9 113.6%);
    padding-top: 40px;
    padding-bottom: 40px;
    direction: rtl;
    display: flex;
    flex-direction: column;
}
.banner-text-container .banner-text-title{
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    width: max-content;
    margin: 0 15%;
    color: var(--yellow-);
}
.banner-text-container .banner-text-desc{
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    width: 400px;
    margin: 0 15%;
    color: #ffffff;
}







/* =====================banener text======================= */
.courses-category-container{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    direction: rtl;
    margin: 40px 0;
}
.courses-category-container .courses-category-content{
    width: 70%;
}
.courses-category-container .courses-category-content .courses-category-title{
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    position: relative;
    color: var(--dark-blue-80);
    width: max-content;
}
.courses-category-container .courses-category-content .courses-category-title::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 4px;
    width: 80%;
    background-color: var(--yellow-);
    border-radius: 2px;
}
.courses-category-container .courses-category-content .courses-category-slider{
    display: flex;
    justify-content: center;
}
.courses-category-container .courses-category-content .courses-category-slider-item{
    margin: 30px 15px;
    width: 50%;
    height: 330px;
    background-color: var(--blue-5);
    border-radius: 20px;
    box-shadow: 0 10px 15px -3px var(--blue-10), 0 4px 6px -4px var(--blue-10);
    overflow: hidden;
    transition: var(--global-transition);
    cursor: pointer;
}
.courses-category-container .courses-category-content .courses-category-slider-item:hover{
    transform: scale(1.03);
}
.courses-category-container .courses-category-content .courses-category-slider-item img{
    object-fit: cover;
}
.courses-category-container .courses-category-content .courses-category-slider-item p{
    text-align: center;
    font-family: 'Cairo';
    font-weight: 600;
    font-size: 24px;
    margin: 0;
}
.courses-category-container .courses-category-content .courses-category-slider .slider-dot{
    width: 15px;
    height: 15px;
    border:2px var(--yellow-) solid;
    display: inline-block;
    border-radius: 50%;
}
.slick-dots li.slick-active .slider-dot{
    background-color: var(--yellow-);
    border: 0;
}




/* responsive design */
@media screen and (max-width: 865px) {
    .desknavbar{
        display: flex;
        justify-content: space-between; 
        align-items: center;
    }
    .desknavbar .desknav-items , .desknavbar .socialmedia-icons{
        display: none;
    }
    .checkbox {
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        top: 40px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
      }
    .hamburger-lines {
        display: block;
        height: 26px;
        width: 32px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #0e2431;
      }
      .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
      }
      .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
      }
      .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
      }
       input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(45deg);
      }
       input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
      }
      
       input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-45deg);
      }
      input[type="checkbox"]:checked ~ .mobilenav {
        transform: translateX(0);
      }
      .mobilenav{
        display: block;
        background-color: #ffffff;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(-100%);
        transition: transform 0.4s ease-in-out;
      }

      .mobile-items{
        margin-top: 100px;
        list-style: none;
        font-size: 30px;
        font-family: cairo;
      }
      .mobile-items a {
        width: 100%;
        color: var(--dark-blue-100);
      }
      .mobile-items li{
        padding: 5px 0;
      }
      .mobile-socialmedia-icons{
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 0;
      }
      .mobile-socialmedia-icons li {
        background-color: var(--dark-blue-100);
        color: #ffffff;
        height: 35px;
        width: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        margin: 0 5px;
        font-family: cairo;
        transition: all .1s ease-out;
        box-shadow: 0 10px 15px -3px var(--blue-10), 0 4px 6px -4px var(--blue-10);
      }
      /* =====================top hero======================= */
      .top-hearo-container {
        display: flex;
        flex-direction: column-reverse;
    }
    .hero-canva {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .hero-text-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .hero-text {
        width: 100%;
        margin-left: 0;
        padding: 10px;
    }
    .hero-text-container h3{
        margin-top: -70px;
    }
    .hero-text-container h3, .hero-text-container h1 , .hero-text-container p{
        text-align: center;
    }
    .hero-text-container button{
        width: 200px;
        margin: 0 auto;
        display: flex;
        justify-self: center;
    }

    .banner-text-container .banner-text-title {
        font-size: 20px;
        margin: 0 5%;
    }
    .banner-text-container .banner-text-desc {
        font-size: 16px;
        width: 300px;
        margin: 0 5%;
    }
}


@media screen and (max-width:640px){
    /* =====================top hero======================= */
    .hero-text-container h1 {
        font-size: 100px;
    }
    .hero-text-container h3{
        font-size: 20px;
        letter-spacing: 1.9rem;
        margin-top: -17% !important;
    }

    .hero-text-container p{

    }
    .hero-canva img{
        width: 100%;
        height: 400px;
    }
}


/* animation */
@keyframes cursorMove {
    0%   {transform: translateY(1px)}
    50%  {transform: translateY(10px)}
    100% {transform: translateY(1px)}
  }